@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgb(28, 10, 10);
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 9.1%;
    align-items: center;
    position: sticky;
    top:0px;
}

header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 .7rem;
}

header nav a:hover {
    color: #358281;
}

.pagebutton {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #2bbdbb;
    font-size: 1.21rem;
    border: .11rem solid #29d9d5;
    border-radius: 51rem;
    padding: .51rem 1.51rem;
    transition: .55s;
}

.pagebutton:hover {
    background-color: #29d9d5;
    color: #111;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
}

.logo i {
    color: #53aead;
    margin-right: 1rem;
    font-size: 2rem;
}

#bloghead {
    width: 80vw;
    background-color: rgb(209, 204, 204);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
}

#bloghead h3 {
    color: rgb(20, 20, 127);
}

#bloghead p {
    font-size: .91rem;
}

#imagesection {
    width: 82vw;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 20px;
}

#imagesection .mainimage {
    border-radius: 10px;
    position: relative;
}

#imagesection .mainimage img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 50ms;
}

#imagesection .mainimage img:hover {
    cursor: pointer;
    opacity: 0.4;
    filter: grayscale(80%);
}

#imagesection i {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .5s;
    transform: scale(0);
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

#imagesection:hover i {
    transform: scale(1.1);
    transform: translate(-50%, -50%);
}

.bannerimage {
    padding: 3rem 2rem;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1667488493883-76bd812aa982?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60');
    background: linear-gradient(rgba(25, 24, 24, 0.6), rgba(20, 17, 17, 0.6)), url(https://images.unsplash.com/photo-1667488493883-76bd812aa982?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60) no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bannerimage .text span {
    font-size: 1.81rem;
    color: #22908e;
}

.bannerimage .text h3 {
    font-size: 3.1rem;
    color: #fff;
    margin-top: 1rem;
}

.bannerimage .text p {
    color: rgb(207, 206, 206);
    line-height: 2;
    font-size: 1.5rem;
    margin: 1rem auto;
    max-width: 60rem;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    background-color: black;
}

#footer .innerfooter {
    margin: 3rem auto;
}

#footer .innerfooter h3 {
    font-size: 1.5rem;
    color: white;
    padding: 1rem auto;
}

#footer .innerfooter p {
    font-size: 1.1rem;
    color: rgb(207, 206, 206);
    padding: 1rem auto;
    line-height: 3;
}


/* #footer .innerfooter p i {
    color: #29d9d5;
    padding-right: 1rem;
} */

#footer .innerfooter .footericons {
    padding-top: 1rem;
}

#footer .innerfooter .footericons a {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    color: #29d9d5;
    border: 2px solid #29d9d5;
    border-radius: 50%;
    text-decoration: none;
    margin-right: .5rem;
}

#footer .innerfooter .footericons a:hover {
    background: #29d9d5;
    color: black;
}

#footer .innerfooter form .inputemail {
    width: 80%;
    background: none;
    font-size: 1rem;
    text-transform: none;
    color: rgb(207, 206, 206);
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid #29d9d5;
    border-radius: 2rem;
}

#footer .innerfooter form .pagebutton {
    background: none;
}

#footer .innerfooter form .pagebutton:hover {
    background-color: #29d9d5;
    color: #111;
}